<!DOCTYPE html>
<div class="container">
    <header class="blog-header lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="/main">OSSP</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="btn btn-sm btn-outline-secondary" href="/login">로그인</a>
          <a class="btn btn-sm btn-outline-secondary" style="margin-left: 10px;" href="/signup">회원가입</a>
        </div>
      </div>
    </header>

    <div class="blog-header py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="/board">게시판</a>
        <a class="p-2 link-secondary" href="/survey">적성검사</a>
        <a class="p-2 link-secondary" href="https://www.jinhakapply.com/">진학사원서접수</a>
        <a class="p-2 link-secondary" href="https://www.uwayapply.com/">유웨이어플라이</a>
        <a class="p-2 link-secondary" href="https://www.suneung.re.kr/main.do?s=suneung">대학수학능력시험</a>
      </nav>
    </div>
</div>
