<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="/register" method="post">
        아이디 : <input type="text" name="id">
        <input  type="submit" onclick="javascript: form.action='/checkId';" value="ID중복 체크"><br>
        이름 : <input type="text" name="name"><br>
        생일 : <input type="text" name="birthday"><br>
        닉네임 : <input type="text" name="nickname"><br>
        비밀번호 : <input type="text" name="password"><br>
        학생 여부 : <input type="checkbox" name="isStudent" onclick="checkstudent()">
        <label for="isStudent">학생이라면 체크하세요.</label><br>
        대학교 : <input type="text" name="univ"><br>
        학과 : <input type="text" name="major"><br>
        <input type="submit">
    </form>
</body>
<script>
    function checkstudent(){
        const checkstudent=document.getElementById("isStudent");
        check=checkstudent.checked;
        if(check==true){
            document.getElementById("isStudent").value=1;
        }
        else{
            document.getElementById("isStudent").value=2;
        }
    }
</script>
</html>