<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="signupcss/design.css">
    <link rel="stylesheet" type="text/css" href="signupcss/reset.css">
</head>
<body>
        <div id="wrap">  
            <h1>회 원 가 입</h1>
            <form action="/register" method="post">
                <div>
                    <input type="text" class="contents" name="id" id="id" placeholder="아이디"><br><br>
                </div>
                <div>   
                    <input type="text" class="contents" name="name" id="name" placeholder="이름"><br><br>
                </div>
                <div> 
                    <input type="text" class="contents" name="birthday" id="birthday" placeholder="생일"><br><br>
                </div>
                <div>    
                    <input type="text" class="contents" name="nickname" id="nickname" placeholder="닉네임"><br><br>
                </div>
                <div></div>  
                    <input type="password" class="contents" name="password" id="password" placeholder="비밀번호"><br><br>
                </div>
                <div>
                    <input type="checkbox" name="isStudent" id="isStudent" value=2 onclick="checkstudent()">
                    <label for="isStudent">학생이라면 체크하세요.</label><br><br>
                </div>
                <div>
                    <input type="text" class="contents" name="univ" id="univ" placeholder="대학교"><br><br>
                </div>    
                <div>    
                    <input type="text" class="contents" name="major" id="major" placeholder="전공"><br><br>
                </div>    
                <div>
                    <input type="button" onclick="submitlogin()" value="SignUp">
                </div>
            </form>
        </div>
</body>
<script>
    let idcheck1=false;
    function checkstudent(){
        const checkstudent=document.getElementById("isStudent");
        check=checkstudent.checked;
        if(check==true){
            document.getElementById("isStudent").value=1;
        }
        else{
            document.getElementById("isStudent").value=2;
        }
    }

    function idcheck(){
        var id1=document.getElementById("id");
        const data1 = JSON.stringify({id:id1.value})
        const p={
            method:"POST",
            headers:{
                "Content-type":"application/json"
            },
            body:data1
        }
        fetch('/apis/checkId',p)
            .then((response)=>{
                return response.json()
            })
            .then((data)=>{
                if(data.success==true){
                    alert(data.message);
                    idcheck1=true;
                }
                else{
                    alert(data.message);
                    idcheck1=false;
                }
            })
    }

    const title = document.getElementById("id"); 
    title.addEventListener("focusout", idcheck);

    function submitlogin(){
        var id1=document.getElementById("id");
        var name1=document.getElementById("name");
        var birthday1=document.getElementById("birthday");
        var nickname1=document.getElementById("nickname");
        var password1=document.getElementById("password");
        var isStudent1=document.getElementById("isStudent");
        var univ1=document.getElementById("univ");
        var major1=document.getElementById("major");
        const data1 = JSON.stringify({
            id:id1.value,
            name:name1.value,
            birthday:birthday1.value,
            nickname:nickname1.value,
            password:password1.value,
            isStudent:isStudent1.value,
            univ:univ1.value,
            major:major1.value
        })
        const p={
            method:"POST",
            headers:{
                "Content-type":"application/json"
            },
            body:data1
        }
        if(idcheck1===true){
            fetch('/apis/register',p)
                .then((response)=>{
                    return response.json()
                })
                .then((data)=>{
                    alert(data.message);
                    location.href="./main.ejs"
                })
        }
        else{
            alert("ID가 중복됐습니다.")
        }
}
</script>
</html>